<!DOCTYPE html>
<html lang="en">
<head>
    {% block head%}
        <meta charset="UTF-8">
        <title>{% block title %}Template - HelloFlask{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block styles %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        {% endblock %}
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
        </ul>
    </nav>
    <main>
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </main>
    <!--在Jinja2语句中添加-可以去掉HTML代码中该语句前后的空白-->
    <footer>
        {% block footer %}
            <p>this is footer</p>
        {% endblock %}
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>